body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.general-column{
    /*width: 50%;*/
    margin-right: 23%;
    margin-left: 23%;
    /*display: inline-flex;*/
}
.pagename{
    justify-content: center;
    font-size: 38px;
    color: #be8907;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
.description{
    text-indent: 50px;
}
